<div class="food-page__404">
  <app-not-found
    [visible]="!food"
    [message]="'Something went wrong! Return to home page'"
    [resetText]="'Return'"
  ></app-not-found>
</div>
<div class="container food-page" *ngIf="food">
  <img class="food-page__image" [src]="food.imageUrl" alt="" />

  <div class="food-page__info">
    <div class="food-page__name">
      <h2>{{ food.name }}</h2>
      <span class="food-page__favourite {{ food.favourite ? '' : 'not' }}">
        ❤️
      </span>
    </div>
    <div class="food-page__stars">
      <star-rating
        [value]="food.stars"
        [totalstars]="5"
        checkedcolor="yellow"
        uncheckedcolor="#dadada"
        size="32px"
        [readonly]="true"
      ></star-rating>
    </div>
    <div class="food-page__cook-time">
      <span>🕝</span>
      {{ food.cookTime }}min
    </div>
    <div class="food-page__origins">
      <span *ngFor="let origin of food.origins">
        {{ origin }}
      </span>
    </div>
    <div class="food-page__tags">
      <span>Tags:</span>
      <a routerLink="/tag/{{ tag }}" *ngFor="let tag of food.tags">
        {{ tag }}
      </a>
    </div>
    <div class="food-page__price">
      {{ food.price | currency }}
    </div>
    <button class="food-page__to-cart btn__blue" (click)="addToCart()">
      Add to cart
    </button>
  </div>
</div>
