<header>
  <div class="container header__container">
    <a class="header__logo" routerLink="/">MY LOGO!</a>
    <nav>
      <ul>
        <li>
          <a class="nav__item" routerLink="/login">Login</a>
        </li>
        <li class="menu__container">
          <a class="nav__item" routerLink="/dashboard">John</a>
          <div class="menu">
            <a class="menu__item" routerLink="/profile">Profile</a>
            <a class="menu__item" routerLink="/orders">Orders</a>
            <a class="menu__item">Logout</a>
          </div>
        </li>
        <li>
          <a class="nav__item" routerLink="/cart">Cart <span>3</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
