<header>
  <div class="container header__container">
    <a class="header__logo" routerLink="/">MY LOGO!</a>
    <nav>
      <ul>
        <li *ngIf="!user.token">
          <a class="nav__item btn__blue" routerLink="/login">Login</a>
        </li>
        <li class="menu__container">
          <a
            class="btn__blue nav__item"
            routerLink="/dashboard"
            *ngIf="user.token"
            >{{ user.name }}</a
          >
          <div class="menu">
            <a class="menu__item" routerLink="/profile">Profile</a>
            <a class="menu__item" routerLink="/orders">Orders</a>
            <a class="menu__item" (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a class="nav__item btn__blue" routerLink="/cart">
            Cart <span>{{ totalItemsCart }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
