<div class="login">
  <form class="login__form" [formGroup]="loginForm" (ngSubmit)="submit()">
    <h2>Login</h2>

    <app-field
      [label]="'Email'"
      [errorToggler]="isSubmitted"
      [type]="'email'"
      [control]="fc.email"
      [placeholder]="'Enter email'"
    ></app-field>

    <app-field
      [label]="'Password'"
      [errorToggler]="isSubmitted"
      [type]="'password'"
      [control]="fc.password"
      [placeholder]="'Enter password'"
    ></app-field>

    <div class="login__error">error!</div>
    <button type="submit">Login</button>
  </form>
</div>
