<div class="auth">
  <form class="auth__form" [formGroup]="loginForm" (ngSubmit)="submit()">
    <h2>Login</h2>

    <app-field
      [label]="'Email'"
      [errorToggler]="isSubmitted"
      [type]="'email'"
      [control]="fc.email"
      [placeholder]="'Enter email'"
    ></app-field>

    <app-field
      [label]="'Password'"
      [errorToggler]="isSubmitted"
      [type]="'password'"
      [control]="fc.password"
      [placeholder]="'Enter password'"
    ></app-field>

    <button type="submit" class="btn__blue">Login</button>
    <div class="auth__link">
      <span>Have not an account?</span>&nbsp;
      <a routerLink="/registration">Create</a>
    </div>
  </form>
</div>
