@import "./../../../../../assets/styles/variables";
.errors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  font-size: 12px;
  color: $primary_red;
}
