<div class="check-order">
  <h2 class="check-order__title">Check order</h2>

  <div class="check-order__content">
    <div class="check-order__items">
      <div class="order-item" *ngFor="let item of order.items">
        <img src="{{ item.food.imageUrl }}" alt="" class="order-item__img" />
        <div class="order-item__name">{{ item.food.name }}</div>
        <div class="order-item__count">{{ item.quantity }} pcs</div>
        <div class="order-item__price">{{ item.price | currency }}</div>
      </div>
      <div class="check-order__sum">
        <span>Total:</span> {{ order.totalPrice | currency }}
      </div>
    </div>
    <div class="check-order__form">
      <form class="order-form__fields" [formGroup]="checkForm">
        <app-field
          [control]="fc.name"
          label="Name"
          placeholder="Your name"
        ></app-field>
        <app-field
          [control]="fc.address"
          label="Address"
          placeholder="Delivery address"
        ></app-field>
      </form>
      <div class="order-form__map">
        <h2>Choose address</h2>
        <app-map [order]="order"></app-map>
      </div>
    </div>
  </div>
  <button class="check-order__btn btn__blue" (click)="submit()">
    Go to payment
  </button>
</div>
